{% extends 'base.html' %}
{% load static %}
{% block title %}新闻资讯{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-2">
        {% for news in news_list %}
        <!-- 文章内容 -->
        <div class="col-4 mb-4">
        <!-- 卡片容器 -->
            <div class="card h-100">
                <!-- 标题 -->
                <h4 class="card-header">{{ news.news_title }}</h4>
                <!-- 摘要 -->
                <div class="card-body">
                    <p class="card-text">来自商家:{{ news.business.storename }}</p>
                    <p class="card-text">资讯内容:{{ news.news_content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}