{% extends 'base.html' %}
{% load static %}
{% block title %}我的购物车{% endblock %}

{% block content %}
<h3 class="headertext" align="center">我的购物车</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">序号</th>
        <th scope="col">菜品</th>
        <th scope="col">数量</th>
    </tr>
    </thead>
    <tbody>
    {% for shop in shop_list  %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ shop.meal.meal_name }}</td>
        <td>{{ shop.meal_number }}</td>
    </tr>
    {% empty %}
    {% endfor %}

    </tbody>
</table>
<div class="card-footer">
    <a href="/business/put_order/" class="btn btn-primary">现在下单</a>
</div>




{% endblock %}